################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/03-backend-api/validator-api/validator-api/bin/Debug/net6.0
/03-backend-api/validator-api/validator-api/obj
/03-backend-api/validator-api/validator-api.Tests/obj
/03-backend-api/01-international-transactions-microservices/validator-api/bin/Debug/net6.0
/03-backend-api/01-international-transactions-microservices/validator-api/obj
/03-backend-api/01-international-transactions-microservices/validator-api.Tests/obj
/03-backend-api/01-microservices/Darren.Api/Darren.Api/obj
/03-backend-api/01-microservices/Darren.Api/Darren.Api.Tests/obj
/03-backend-api/01-microservices/Darren.Api/Darren.Api.ValidateFile/bin/Debug/net6.0
/03-backend-api/01-microservices/Darren.Api/Darren.Api.ValidateFile/obj
/03-backend-api/01-microservices/Darren.Api/Darren.Api.ValidateFile.Tests/obj
/03-backend-api/01-international-transactions-microservices/validator-api.Tests/bin/Debug/net6.0
/03-backend-api/01-microservices/Darren.Api/Darren.Model/bin/Debug/net6.0
/03-backend-api/01-microservices/Darren.Api/Darren.Model/obj
/05-V2-Cshtml/v2cshtml/.vs/v2cshtml/v17/.suo
/05-V2-Cshtml/v2cshtml/v2cshtml/bin/Debug/net6.0
/05-V2-Cshtml/v2cshtml/v2cshtml/obj
/05-V2-Cshtml/v2cshtml/.vs/v2cshtml/DesignTimeBuild/.dtbcache.v2
/05-V2-Cshtml/v2cshtml/.vs/v2cshtml/v17/.futdcache.v1
/05-V2-Cshtml/v2cshtml/Darren.Base/obj
/05-V2-Cshtml/v2cshtml/Darren.Base/bin/Debug/net6.0
